<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">

</head>

<body>
<h1 class="text-capitalize text-black-50 font-weight-normal">用户管理</h1>
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">系统管理</a></li>
            <li class="breadcrumb-item active">用户管理</li>
            <li class="breadcrumb-item active">添加用户</li>
        </ul>
    </div>
</div>
<div class="common-3">
    <form>
        <div class="form-group col-md-8">
            <label for="nickname">昵称</label>
            <input type="text" class="form-control " id="nickname"  placeholder="昵称">
            <small id="nameHelp" class="form-text text-muted">如果您没有想好昵称，系统将为您自动生成一个，如果您已想好那么请确保在6——10个字符之间</small>
        </div>
        <div class="form-group col-md-4">
            <label for="phone">手机号</label>
            <input type="text" class="form-control" id="phone"   placeholder="手机号将作为您的账号">
            <small id="phoneHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group col-md-6">
            <label for="email">邮箱</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="邮箱">
            <small id="emailHelp" class="form-text text-muted">邮箱将用于验证账户，恢复密码等功能</small>
        </div>
        <div class="form-group col-md-4">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码">
            <small id="passwordHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">状态</label>
            <select id="inputState" class="form-control">
                <option selected>激活</option>
                <option>禁用</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="inputLimited">角色分配</label>
            <select id="inputLimited" class="form-control">
                <option th:each="item2:${role}" th:id="${item2.rId}" th:text="${item2.rRole}" >超级管理员</option>
            </select>
        </div>

<div class="col-md-6">
        <button type="button" class="btn btn-default  btn-len">返回</button>
        <button type="button" class="btn btn-primary btn-len">添加用户</button>
</div>
    </form>
</div>
<script>
$(function () {
    $(".btn-primary").click(function () {
        var selected = $("#inputLimited").find("option:selected").attr("id")
        var state=$("#inputState").find("option:selected").attr("data-id")
        var email=$("#email").val()
        var password=$("#password").val()
        var phone=$("#phone").val()

        var nickname=$("#nickname").val()

        $.ajax({
            url:"/bs/userAdd",
            type:"get",
            contentType:"application/json",
            data:{"selected":selected,"state":state,"email":email,"password":password,"nickname":nickname,"phone":phone},
            success:function (m) {
                console.log(m)
                if(m==1){
                    $("#contents").load("/bs/user") /*都用这个*/
                    Toast("添加成功","2000")
                }else if(m==0){
                    Toast("数据库异常","2000")
                }else{
                    Toast("你的级别还不够高,加油吧！少年。","2000")
                }
            },
        })
    })
})
</script>
</body>
</html>