<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.NewsMapper">

  <resultMap id="BaseResultMap" type="com.example.demo.entity.News">
    <id column="n_id" property="nId" jdbcType="INTEGER"/>
    <result column="n_title" property="nTitle" jdbcType="VARCHAR"/>
    <result column="n_date" property="nDate" jdbcType="DATE"/>
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="com.example.demo.entity.News" extends="BaseResultMap">
    <result column="n_text" property="nText" jdbcType="LONGVARCHAR"/>
  </resultMap>

  <resultMap id="myRM" type="com.example.demo.entity.News">
    <id column="n_id" property="nId" jdbcType="INTEGER"/>
    <result column="n_title" property="nTitle" jdbcType="VARCHAR"/>
    <result column="n_date" property="nDate" jdbcType="TIMESTAMP"/>
    <result column="n_date_modified" property="nDateModified" jdbcType="TIMESTAMP"/>
    <result column="n_status" property="nStatus" jdbcType="INTEGER"/>
    <result column="n_text" property="nText" jdbcType="LONGVARCHAR"/>
  </resultMap>

  <sql id="Base_Column_List">
    n_id, n_title, n_date
  </sql>
  <sql id="Blob_Column_List">
    n_text
  </sql>

  <!-- 全选 -->
  <select id="selectAll" resultMap="myRM" parameterType="java.lang.String">
    select *
    from news
    <!-- 按指定标题模糊搜索 -->
    <if test='nTitle!="null"'>
      where n_title like "%"#{nTitle,jdbcType=VARCHAR}"%"
    </if>
    <!-- 按指定字段排序 -->
    <if test='sortFlag!="0"'>
      order by
      <if test='sortFlag=="1"'>
        n_date
      </if>
      <if test='sortFlag=="2"'>
        n_date desc
      </if>
    </if>
  </select>

  <!-- 全选（不带参数） -->
  <select id="selectAll2" resultMap="myRM" parameterType="java.lang.String">
    select *
    from news
    <!-- 按发布日期反序排列，确保发布日期最新的位于置顶的最上一条 -->
    ORDER BY n_date DESC
  </select>

  <!-- 按主键选择 -->
  <select id="selectByPrimaryKey" resultMap="myRM" parameterType="java.lang.Integer">
        select *
        from news
        where n_id = #{nId,jdbcType=INTEGER}
    </select>

  <!-- 按置顶状态选择ID、标题、发布时间 -->
  <select id="selectTitleAndDate" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    from news
    <!-- n_status为置顶状态，1为置顶，0为不置顶 -->
    where n_status = 1
    <!-- 按发布日期反序排列，确保发布日期最新的位于置顶的最上一条 -->
    ORDER BY n_date DESC
    <!-- 首页指定置顶为4条 -->
    LIMIT 4
  </select>

  <!-- 按主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where n_id = #{nId,jdbcType=INTEGER}
  </delete>

  <!-- 按主键批量删除 -->
  <delete id="deleteByBatch" parameterType="java.lang.String">
    delete from news
    where n_id in
    <foreach collection="nIds" item="nId" open="(" separator="," close=")">
      #{nId,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <!-- 插入 -->
  <insert id="insert" parameterType="com.example.demo.entity.News">
    insert into news
    (n_title, n_date, n_text)
    values
    (#{nTitle,jdbcType=VARCHAR}, #{nDate,jdbcType=TIMESTAMP}, #{nText,jdbcType=LONGVARCHAR})
  </insert>

  <!-- 按主键更新 -->
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.News">
    update news
    set
    n_title = #{nTitle,jdbcType=VARCHAR},
    n_date = #{nDate,jdbcType=TIMESTAMP},
    n_date_modified = #{nDateModified,jdbcType=TIMESTAMP},
    n_status = #{nStatus,jdbcType=INTEGER},
    n_text = #{nText,jdbcType=LONGVARCHAR}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>


  <!-- 以下sql未用到 -->
  <insert id="insertSelective" parameterType="com.example.demo.entity.News">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nId != null">
        n_id,
      </if>
      <if test="nTitle != null">
        n_title,
      </if>
      <if test="nLink != null">
        n_link,
      </if>
      <if test="nDate != null">
        n_date,
      </if>
      <if test="nText != null">
        n_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nId != null">
        #{nId,jdbcType=INTEGER},
      </if>
      <if test="nTitle != null">
        #{nTitle,jdbcType=VARCHAR},
      </if>
      <if test="nLink != null">
        #{nLink,jdbcType=VARCHAR},
      </if>
      <if test="nDate != null">
        #{nDate,jdbcType=DATE},
      </if>
      <if test="nText != null">
        #{nText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.News">
    update news
    <set>
      <if test="nTitle != null">
        n_title = #{nTitle,jdbcType=VARCHAR},
      </if>
      <if test="nLink != null">
        n_link = #{nLink,jdbcType=VARCHAR},
      </if>
      <if test="nDate != null">
        n_date = #{nDate,jdbcType=DATE},
      </if>
      <if test="nText != null">
        n_text = #{nText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where n_id = #{nId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.entity.News">
    update news
    set n_title = #{nTitle,jdbcType=VARCHAR},
      n_link = #{nLink,jdbcType=VARCHAR},
      n_date = #{nDate,jdbcType=DATE},
      n_text = #{nText,jdbcType=LONGVARCHAR}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>


</mapper>