<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/wpTop.css"/>
    <link rel="stylesheet" type="text/css" href="/css/wpNav.css"/>
    <link rel="stylesheet" type="text/css" href="/css/wpFoot.css"/>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="top">
    <nav class="navbar navbar-light bg-light">
        <div class="logo ct">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/img/logo5.png" width="120px" height="60px">
            </a>
        </div>
        <div class="titles ct ">

            <a class="titles1 ct">我的考试任务</a>
            <a class="ct">|</a>
            <a class="titles2 ct" href="/wp/HomePage">首页</a>

        </div>
        <div class="ct account" th:if="${session.nickname}!=null">
            <span class="names">hi，<a th:text="${session.nickname}" class="out "></a></span>
            <a href="/wp/logout" class="out ">退出登录</a>
        </div>
    </nav>
</div>


<div class="foot">
    <!-- <div class="bottom_left"><img src="../img/logo.jpg"> </div>-->
    <div class="links">
        <a href="#">
            关于考拉
        </a>
        |
        <a href="#">
            联系我们
        </a>
        |
        <a href="#">
            人才招聘
        </a>
        |
        <a href="#">
            广告服务
        </a>
        |
        <a href="#">
            微信考拉
        </a>
        |
        <a href="#">
            侵权投诉
        </a>
    </div>

    <div class="copyright">
        Copyright&nbsp;&copy;&nbsp;2004-2019&nbsp;&nbsp;考拉KL.com&nbsp;版权所有
    </div>
</div>
</body>
</html>