.common{
    width: 90%;
    margin: 20px auto;
    border: 1px solid gainsboro;
    padding: 20px;
}
.btn-len{
    width: 80px;
}
.margin-6{
    margin-left: 50%;
}
.ct{
    float: left;
}
.font-sm{
    font-size: 12px;
}
.img-top-height{
    height: 200px;
}
.height2{
    height: 465px;
}
.common-3{
    width: 90%;
    margin: 20px auto;
    border: 1px solid Window;
    background: white;
    padding: 20px;
}
