.menu-min{
    height: 60px;
    width: 100%;
    border-top: 10px solid #17a2b8;

    line-height: 60px;
    font-size: 24px;
}
.underlines{
    width: 90%;
}
.abso{
    position: absolute;
  right: 40px;
    top:120px;
}

.abso2{
    margin: 20px;
}