.common-2{

    width: 90%;
    margin: 20px auto;


}
.ct-lr{
    float: left;
    margin-right: 40px;
}
.card-font{
    color: black!important;
}
.r-right{
    width: 60%;
    height: 1000px;
    background:white;
    padding: 40px;
}
li{
   list-style: none;
}