.content{
    width: 90%;
    margin: 40px auto;
    height: 800px;
}
.left{
    width: 80%;
    height: 800px;
    border-right:1px solid gainsboro;

}
.right{
    width: 20%;

}
.main{
    width: 90%;
    margin: 20px auto;
}

.table-order{
    width: 100%;

}
th{
    height: 44px;
}